*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    
    background-color: #fff ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
    background-color: black;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    padding-top: 10px;
} 

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;   
}
.action_btn:active{
    scale: 0.95;
}
/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HEADING */
.typesofviruses{
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    padding-top: 50PX;
    font-weight: bolder;
}
.heading{
    cursor: pointer;
}
.definition{
    width: 100%;
    height: 700px;
    padding-left: 40px;
}
.definition p{
    width: 600px;
    height:150px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-left: 50px;
}
.definition .link{
    color: black;
    font-size: 1.3rem;
    margin: 50px 50px;
    list-style: decimal;

}
.link1{
    list-style-type:decimal-leading-zero;
}
ol li{
    padding-bottom: 10px;
}
.definition .link:hover{
    color: orange;
    text-decoration: underline;
}
/* viruses */
.infviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.influheading{
    padding-left: 40px;
}
.infpara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 50px;
}
.infimage{
    width: 500px;
    height: 250px;
    margin: 60px 50px;
    padding-left: 80px;
    
}

.herpviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.herpheading{
    padding-left: 40px;
}
.herpara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 80px;
}
.herimage{
    width: 600px;
    height: 300px;
    margin: 60px 50px;
    padding-left: 100px;
}

.coronaviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.coronaheading{
    padding-left: 40px;
}
.coronapara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 50px;
}
.coronaimage{
    width: 500px;
    height: 300px;
    margin: 60px 50px;
    padding-left: 100px;
}

.hpvviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.hpvheading{
    padding-left: 40px;
}
.hpvpara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 50px;
}
.hpvimage{
    width: 600px;
    height: 300px;
    margin: 50px 50px;
}

.entviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.entheading{
    padding-left: 40px;
}
.entpara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 80px;
}
.entimage{
    width: 600px;
    height: 400px;
    margin: 50px 50px;
}

.flavviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.flavheading{
    padding-left: 40px;
}
.flavpara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 80px;
}
.flavimage{
    width: 550px;
    height: 300px;
    margin: 50px 50px;
}

.orthviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.orthheading{
    padding-left: 40px;
}
.orthpara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 80px;
}
.orthimage{
    width: 600px;
    height: 400px;
    margin: 50px 50px;
}

.hepaviruse{
    width: 100%;
    height: 400px;
    display: flex;
}
.hepaheading{
    padding-left: 40px;
}
.hepapara{
    width: 550px;
    height: 250px;
    box-sizing: border-box;
    margin: 80px 50px;
    font-size: 1.2rem;
    padding-top: 80px;
}
.hepaimage{
    width: 550px;
    height: 350px;
    margin: 50px 50px;
}
/* footer */
footer{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: black;
}
.logo2{
    height: 100px;
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
    box-sizing: border-box;
}
.logo3{
    text-decoration: none;
    color:white;
    font-size: 2rem;
}
.icon{
    width: 50%;
    height: 100px;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 400px;
    box-sizing: border-box;
}
.fa-facebook{
    cursor:pointer;
    color: #fff;
} 
.fa-facebook:hover{
    color: orange;
}
.fa-instagram{
    cursor:pointer;
    color: #fff;
}
.fa-instagram:hover{
    color: orange;
}
.fa-youtube{
    cursor:pointer;
    color: #fff;
}
.fa-youtube:hover{
    color: orange;
}
.fa-x-twitter{
    cursor:pointer;
    color: #fff;
}
.fa-x-twitter:hover{
    color: orange;
}
.fa-address-book{
    cursor: pointer;
    color: #fff;
}
.fa-address-book:hover{
    color: orange;
}
.copy-right{
    width: 100%;
    height: 100px;
    padding-left: 500px;
    padding-top: 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: black;
    
}


/* RESPONSIVE DESIGN */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block ;
    }
}
@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    
}